.op-contents{
  height: calc(100vh - 160px);
}

.op-main{
  background: #DDDDDD;
  height: 100%;
  overflow-y: scroll;
}

.main-head-contents{
  height: 70px;
  display: flex;
  align-items: center;
}

.main-head{
  background-color: white;
  height: 50px;
  width: 100%;
  margin: 0 50px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status-bar{
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress{
  width: 90%;
  border-radius: 20px;
}

.main-foot{
  display: flex;
}

.form-size{
  width: 60%;
}

.edit-form{
  background-color: white;
  border-radius: 10px;
  margin: 0 10px 30px 30px;
  padding: 15px;
}

.comment-forms{
  background-color: #F0F2F7;
  border-radius: 10px;
  margin: 0 20px 30px 10px;
  padding: 15px;
}

.comment{
  width: 100%;
  display: block;
  padding-bottom: 5px;
}

.comment-info{
  display: flex;
  justify-content: space-between
}

.comment-user{
  font-size: small;
}

.comment-time{
  font-size: small;
}

.comment-text{
  background-color: white;
  display: inline-block;
  border-radius: 5px;
}

.purchase{
  display: flex;
  justify-content: center;
}

.progress-bar{
  font-size: 18px;
}