html,body{
  height: 100vh;
}

.main{
  height: calc(100vh - 160px);
  padding: 10px;
  background: #DDDDDD;
}

.op-index{
  height: calc(100% - 20px);
}

.row{
  height: 100%;
}

.post-btn{
  margin-bottom: 10px;
  height: 50px;
}

.btn-orange{
  color: white;
  background-color:#F28E31;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 8px;
}

.btn-orange:hover{
  background-color: #E27E21;
  box-shadow: 0 2px 4px gray;
}

.op-index{
  margin: 15px 40px;
}

.news{
  background-color: white;
  margin: 15px 28px;
  padding: 20px;
  border-radius: 10px;
}