.top-page-header{
  height: 160px;
}

.search-bar-contents{
  height: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.teal-icon{
  width: 200px;
  background-color: white;
  text-align: center;
  margin: 10px 0 0 40px;
}

.dropdown{
  padding: 16px 40px 0 0;
}

.my-page-link{
  color: white;
}

.search-button{
  height: 40px;
  width: 40px;
}

.search-icon{
  height: 40px;
  width: 40px;
}

.nav{
  height: 40%;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #008080;
  background-color: #008080;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding-left: 56px;
}

.button{
  border: 10px;
  color: white;
  text-decoration: none;
  margin-right: 16px;
}

.search{
  display: flex;
  align-items: center;
  padding: 8px 50px 0 0;
  color: white;
}

.container{
  display: flex;
  align-items: center;
}

.csv{
  height: 26px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 40px 0 0;
}

.csv:hover{
  box-shadow: 0 2px 4px black;
  background-color: #EEEEEE;
}

.csv a{
  text-decoration: none;
  color: black;
}

.csv a:hover{
  color: black;
}