<%= render "shared/header" %>
<div class='main'>
  <div class="news">
    <h1 class="news-title">社内NEWS</h1>
    <a class="article">・2022/6/1付で〜〜〜さんが異動になりました。</a><br>
    <a class="article">・健康診断の予約は2022/7/1までです。お忘れなく。</a><br>
    <a class="article">・2022/6/1より〜〜〜を導入しました。</a><br>
    <a class="article">・2022/6/1付で〇〇部に〇〇さんが入社しました。</a><br>
    <a class="article">・2022/6/1より、社内のコーヒーを〇〇産に変更しました。</a><br>
  </div>
</div>